*{
    margin: 0;
    padding: 0;
}
:root{
    --width: 3px;
    --color: black;
    --size: 500px;
    --btn_bg: #01395e;
    --btn_bg_hover: #0091cf;
    --orange: #ceccce;
    --coral: #fd4445;
}

@font-face {
    font-family: urbanist;
    src: url(Urbanist-Medium.ttf);
    font-weight: 400;
}

.content{
    width: min(100% - 15px, var(--size));
    height: 100vh;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: urbanist;
    background-color: var(--orange);
    position: relative;
    z-index: 1;
}
.field{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: var(--size);
    height: var(--size);
    position: relative;
}
.field1{
    width: 33%;
    height: 33%;
    text-align: center;
    color: var(--coral);
    font-size: calc(0.25*var(--size));
}
.line_ver{
    height: 100%;
    width: var(--width);
}
.line_hor{
    width: 100%;
    height: var(--width);
}
.line{
    position: absolute;
    background-color: var(--color);
}
.line_ver:nth-child(1){
    left: 33%;
}
.line_ver:nth-child(2){
    right: 33%;
}
.line_hor:nth-child(3){
    top: 33%;
}
.line_hor:nth-child(4){
    bottom: 33%;
}
.reset, .counter{
    width: calc(100% - 40px);
    height: 60px;
    line-height: 60px;
    margin: 30px;
    color: white;
    font-size: 30px;
    border-radius: 5px;
    border: none;
    background-color: var(--btn_bg);
    transition: all .15s ease-out;
    text-align: center;
}
.reset:hover{
    background-color: var(--btn_bg_hover);
}
.dialog{
    width: calc(80% - 20px);
    height: calc(50% - 20px);
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    border-radius: 10px;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.font_size_48{
    font-family: urbanist;
    font-size: 48px;
    color: var(--color);
    text-align: center;
}
.black{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 9;
    background-color: #2c2c2c;
    opacity: .7;
    display: none;
}
@media screen and (orientation: portrait) {
    *:root{
        --size: 300px;
    }
}
